// USED FOR BOXES
$color--primary: #5da60f;
$color--dark: #18111a;
$color--medium--dark: #201126; //main box color
$color--light--dark: #2c1833;
$color--light--dark--active: #b08bb5;

// TEXT COLORS
$textcolor--primay: #FFFFFF;
$textcolor--secondary: #d2d3d6;
$textcolor--secondary--in--box: #d2d3d6;
$textcolor--primary--contrast: #FFFFFF;
$textcolor--input--placeholder: #808080;
$textcolor--focus--text: #D3D3D3;
